form{
  max-width: 500px;
}

fieldset{
  background-color: #E0E1FE;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

legend{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.block{
  display: flex;
}

.block label {
  font-weight: bold;
}

button{
  background-color: #FCA8AD;
  font-weight: bold;
}